<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Y, the future website</title>
  </head>
  <body>
    <div class="container">

    <h2>About Us</h2>
    <h3>The Next Y Gen</h3>
    <p>This is suposed to be a great description of what is suposed to be the compani (?): In Development...</p>
    </div>
  </body>
</html>
